[2012-11-28 23:12] sksellio opened #1 "geometric_shapes depends on robot_model which is a metapackage"
catkin packages can not depend on metapackages. This causes rosmake to fail when building dry packages which depend on geometric_shapes:

[code]

Actually @wjwwood

[2012-11-28 23:46] #1 closed, assigned to isucan

[2013-05-24 21:50] egiljones opened #4 "problem with either mesh loading or constructMarkerFromShape"
I've recently been trying to create markers from mesh objects, and something is badly wrong.  At this point I am unsure whether the problem is in loading the mesh from the resource in the marker generating code.  In either case, the version of the constructMarkerFromShape that uses triangles doesn't show anything in Rviz, and the line one is garbled, as shown in this image.  It looks to me like ma

[2013-05-28 18:47] isucan commented on #4
It turns out it was actually a problem in the shape_tools lib, in constructMarkerFromShape; version 0.2.1 (released) fixes the issue.

[2013-05-28 18:47] #4 closed, assigned to nobody

[2013-07-15 18:35] davetcoleman opened #6 "needs hydro-devel branch?"
like the rest of moveit now has...

[2013-07-16 07:01] isucan commented on #6
done

[2013-07-16 07:01] #6 closed, assigned to nobody

[2013-11-01 22:37] dirk-thomas opened #9 "fails to configure config.h.in when paths contain spaces"
When the path contains spaces `configure_file()` is unable to find the template:

[code]

[2013-11-02 10:46] isucan commented on #9
Any idea why this is? The path searched looks correct to me, and there are quotes around the path:

[code]

[2013-11-03 07:01] dirk-thomas commented on #9
The problem might be related to the fact that the path is quoted _and_ the spaces are escaped with backslashes. I think only one method is feasible at a time.

[2013-12-03 08:27] wjwwood opened #12 "octomap include dirs not included"
`octomap` is `find_package`'ed, and the `OCTOMAP_INCLUDE_DIRS` are exported in the `catkin_package` call, but they are never passed to `include_directories`:

https://github.com/ros-planning/geometric_shapes/blob/hydro-devel/CMakeLists.txt#L38

This causes a build failure on a truly isolated caktin workspace build.

[2013-12-04 02:52] #12 closed, assigned to nobody

[2013-12-04 05:01] wjwwood commented on #12
@isucan Thanks.

[2013-12-26 20:08] dirk-thomas commented on #12
This patch needs to be released.

[2014-02-25 19:44] tfoote opened #17 "Update CMakeLists.txt to find eigen in indigo"
The FindEigen is in cmake_modules now.

You need to call find_package(Eigen REQUIRED) after find packaging find_package(catkin COMPONENTS cmake_modules)

And cmake_modules needs to be a build_depend.

This sort of patch: https://github.com/ros-visualization/rviz/pull/727

[2014-03-14 18:14] dirk-thomas commented on #17
Fixed in 3fbea120f7e4008ebc1516a39b70ba5baf94e321

[2014-03-14 18:14] #17 closed, assigned to nobody

[2014-03-18 16:36] #9 closed, assigned to nobody

[2014-05-15 07:32] mikeferguson opened #19 "Is not building in release on trusty/indigo"
The configuration on the buildfarm inserts "-DCMAKE_BUILD_TYPE=None", which was not the case in hydro, and which causes https://github.com/ros-planning/geometric_shapes/blob/hydro-devel/CMakeLists.txt#L7 not to be set to Release.

This causes major issues when doing "mergeVertices" in the startup of MoveIt. What normally takes about 3 seconds, suddenly takes over 6 minutes.

It appears that -DCMAK

[2014-05-15 17:19] tfoote commented on #19
I thiink ros-infrastructure/buildfarm#197 is the root of this.

[2014-05-21 10:23] mikeferguson commented on #19
Just needs to be re-released using latest bloom.

[2014-05-21 10:23] #19 closed, assigned to nobody

[2014-09-08 13:23] peter-lehner opened #22 "Appending to CMAKE_MODULE_PATH"
I would like to specify my own FindQhull.cmake to your package externally, as I have the qhull include files and libraries in special paths (due to package management). This is currently not possible as you prepend your custom cmake module path to CMAKE_MODULE_PATH in https://github.com/ros-planning/geometric_shapes/blob/hydro-devel/CMakeLists.txt#L4. Would it be possible to instead append to the

[2014-12-19 07:11] Juxi opened #23 "linking to assimp fails on mac 10.10"
I am trying to compile ros on mac
When trying to building I get the following error:

[code]

any idea why libassimp.dylib is not found?
it's installed with brew

[code]

[2015-01-30 22:22] pgorczak commented on #23
On a related note, the [assimp version check in CMakeLists.txt](https://github.com/ros-planning/geometric_shapes/blob/indigo-devel/CMakeLists.txt#L18) failed for me on Yosemite with the latest brew assimp (also with --HEAD which is 3.1.1)

[2015-03-15 06:34] mikeferguson opened #27 "Release into ROS Jade"
Before release, want to:
- [ ] test and pull other changes from https://github.com/ros-planning/geometric_shapes/pull/25 into indigo-devel

Blocking upstream dependencies:
- [x] eigen_stl_containers
- [x] octomap
- [x] [random_numbers](https://github.com/ros-planning/random_numbers/issues/9#issuecomment-94998694)
- [x] resource_retriever
- [x] shape_tools

[2015-03-18 07:11] vrabaud commented on #27
@isucan, stop getting married and release that ! :)

[2015-03-24 06:34] pseudopresence opened #28 "Mesh with no faces created for small cylinders"
We encountered this issue when attempting to convert the Robotiq hand model from DRCSim using urdf_to_collada. If a cylinder element is smaller than 0.01, no faces are created, and urdf_to_collada will subsequently crash. From looking at the code in mesh_operations.cpp, the mesh generation for cone objects would be prone to the same issue.

The simplest fix is probably to enforce a sensible minimu

[2015-03-24 18:25] peci1 opened #29 "Support nonuniform shape scaling."
Now it is only possible to use a single number as the shape's scale. But I create shapes read from a URDF as meshes, where nonuniform scaling may occur. I'd like to be able to propagate this nonuniform scaling into the resulting shapes::Shape, too.

[2015-04-14 20:41] DLu commented on #27
I was taking a look at releasing the robot_model stack (of which resource_retriever is a part) and collada_urdf (also in robot_model) depends on geometric_shapes. How should I proceed? Just release resource_retriever?

[2015-04-19 09:09] mikeferguson commented on #27
Wow -- circular depends between geometric_shapes and robot_model -- I totally did not see that. Checking git-blame on the rosdistro, resource_retriever has apparently been released separately from everything else in the robot_model repo.

The GBP for resource_retriever is here: https://github.com/ros-gbp/resource_retriever-release. Then (Presumably after geometric_shapes was released), the other p

[2015-04-20 19:08] wjwwood commented on #27
Looks like I just did a version bump, @isucan did the original release. It looks like he released `resource_retriever` only in the first gbp you linked using an ignore file, then released the rest of `robot_model` using an ignore file to skip `resource_retriever`. The right thing to do here is to move `resource_retriever` to its own repository, but failing that a similar maneuver could be used to

[2015-04-20 20:31] isucan commented on #27
@wjwwood is correct - sorry for being late to this and being lazy about the split. But yes, the repo should ideally be split.

[2015-04-20 22:54] DLu commented on #27
Is there an easy tool for splitting the repo? (i.e. not just command lines, I can do that)

I presume it would remain in the ros organization as well.

[2015-04-20 23:00] wjwwood commented on #27
Not to my knowledge, it's mostly a git (or VCS specific) set of operations. A guide would be good, but unfortunately I think that having a tool that "just does it" would probably be dangerous if used incorrectly.

[2015-04-22 00:40] scpeters commented on #27
+1, this is blocking `gazebo_ros_pkgs` among other things

[2015-04-22 01:30] wjwwood commented on #27
Ok, I've moved `resource_retriever` to it's own repository:

https://github.com/ros/resource_retriever.git

and fixed up the indigo release repositories as needed. It was pretty easy since @isucan had already made two release repositories. Here is the pr for the updated release of `resource_retriever` into indigo:

https://github.com/ros/rosdistro/pull/8025

I'll release the Jade versions next.

[2015-04-22 01:32] wjwwood commented on #27
Jade release: https://github.com/ros/rosdistro/pull/8026

[2015-04-22 05:27] wjwwood commented on #27
I poked `random_numbers`:

https://github.com/ros-planning/random_numbers/issues/9#issuecomment-94998694

and `octomap`:

https://github.com/OctoMap/octomap/issues/80#issuecomment-94994804

Hopefully we can get the ball rolling on this package and all of `robot_model` tomorrow.

[2015-04-22 19:08] wjwwood commented on #27
Octomap: https://github.com/ros/rosdistro/pull/8075 :fireworks:

[2015-04-22 19:19] wjwwood commented on #27
@mikeferguson I've poked @davetcoleman about either releasing `random_numbers` or giving me the go ahead to do it myself. After that the only thing blocking a Jade release is your mention of #25. Is it important to get that in the first release for Jade?

[2015-04-22 19:22] mikeferguson commented on #27
@wjwwood if we release from the indigo-devel branch, it is not important -- basically I didn't want to fork until after that PR was merged.

[2015-04-22 19:23] mikeferguson commented on #27
I'll watch for random_numbers on the rosdistro and then release this as soon as that comes through

[2015-04-22 19:23] wjwwood commented on #27
Thanks.

[2015-04-22 19:26] scpeters commented on #27
I was getting a build failure on utopic without the following:

[code]

This is addressed by #32. Will #32 be merged before the release?

[2015-04-22 19:29] scpeters commented on #27
I just made #33 to fix the build if #32 won't be merged before release.

[2015-04-22 19:44] wjwwood commented on #27
Ok, `random_numbers` is out: https://github.com/ros/rosdistro/pull/8079 :package: :shipit:

[2015-04-22 20:02] mikeferguson commented on #27
https://github.com/ros/rosdistro/pull/8080

[2015-04-22 20:02] #27 closed, assigned to mikeferguson

[2015-04-22 22:30] davetcoleman commented on #27
Great, thanks guys!

on the note of releasing MoveIt! - I'm buried in preparing for the Amazon Picking Challenge so I'm not sure how much help I can provide

[2016-02-17 13:04] corot commented on #28
This can be closed, right?

[2016-02-17 13:19] corot opened #38 "Assimp::Importer::ReadFileFromMemory creates a mesh with too many vertices"
Assimp::Importer::ReadFileFromMemory creates a mesh with way too many vertices. For example, for this simple .obj cube:

[code]

Creates 24 instead of the 8 required, 2/3 of them duplicated. The why is explained [here](http://stackoverflow.com/questions/26024283/assimp-vs-meshlab-wavefront-object-obj-import) (thanks to @gavanderhoorn to point me to this explanation).

This should not be a problem,

[2016-02-22 21:08] jackieokay commented on #28
Agreed, this issue can be closed. Some maintainers like to leave the issue open until the version with the fix is released into rosdistro.

Speaking of which, @davetcoleman etc., when can we expect a release of this package? I could do one if I was added to the ros-planning org.

[2016-02-22 21:20] davetcoleman commented on #28
I do not know, I have not been asked to do package releases, only @rethink-imcmahon and @130s. Overall ros-planning is lacking leadership IMHO

[2016-02-22 21:28] jackieokay commented on #28
Gotcha. I'll see what I can do :)

[2016-02-22 22:03] jackieokay commented on #38
Do you think you could create a minimal test case in `test` for this issue? Automatically reading the vertices in a test case might not be easy, but it would streamline verifying and testing your PR.

[2016-02-24 18:57] corot commented on #38
mmm... not fully sure what and how I should test... what about this:
1. I read a known STL file from geometric_shapes/test/resources, from example ORK tutorial's coke.stl
2. I read a serialized shape_msgs/Mesh message constructed from this STL with tested code
3. I compare both objects and they should be the same

But I suppose 2 meshes can be different but equally valid, if the vertices are order

[2016-03-06 10:06] mikeferguson commented on #28
This looks like a pretty trivial change since our last release -- pushing a new release now

[2016-03-06 10:25] mikeferguson commented on #28
released into indigo + jade in 0.4.4

[2016-03-06 10:25] #28 closed, assigned to nobody

[2016-03-07 21:18] jackieokay commented on #28
thanks @mikeferguson!

[2016-03-13 16:27] corot commented on #38
Hi @jacquelinekay, I think these tests should fill the bill. I cannot come with a much better way to test my changes. The advantage is that this adds testing to existing code, namely mesh load and mesh generation for primitives.

What i do is, I generate a mesh from a primitive shape with createMeshFromShape. I randomly chose between SPHERE, CYLINDER, CONE and BOX so all will get tested in a few t

[2016-03-14 18:45] jackieokay commented on #38
The test looks like it could be a valuable general addition to the package. I have some feedback:

Why do you randomly choose between shapes rather than testing all of the shapes in succession?

The original issue is about the Assimp importer creating meshes with too many vertices. Can you make a test case that tests this issue more directly?

It seems to me that importing one of the STL files usi

[2016-03-14 23:09] corot commented on #38
Hi @jacquelinekay, thanks for the feedback. In fact, those are my first gtests, so I appreciate any comment.

I randomize the shapes to increase the test coverage without incurring in a considerable execution time. Think these tests get run with every new release upstream of geometric_shapes, so... I guess this mean quite often. But that said, you are probably right, because BOX is always very fas

[2016-03-21 13:14] corot commented on #38
Hi back, @jacquelinekay. Regardless my previous comment, I have implemented all your suggestions, as you are probably right : fc0524484433bd6226fbf06f8a386b3e42c92b16

[2016-04-12 08:23] corot commented on #38
Hello back, @jacquelinekay. Any problem still blocking this PR merge? Actually, I'm the only person affected by this issue, afaik. But anyway it can prevents others in the future to waste time with this problem

[2016-04-12 16:12] jackieokay commented on #38
I'll take another look today!

[2016-06-22 09:50] dblanm opened #42 "Migrating from fcl to moveit-geometric shapes"
Hello everyone,

I was using before the fcl libraries, but after founding several problems I would like to use this library.
The code I had before was:
_typedef std::shared_ptr fcl::CollisionGeometry CollisionGeometryPtr_t;
// Define a Ellipsoid with the dimensions of the joint+link
  //This geometry may be modified depending on the robot
  CollisionGeometryPtr_t boxGeometry (new fcl::Box (16.,16.

[2016-06-27 16:06] davetcoleman commented on #38
@jacquelinekay think you can still review this? I'm looking at it now

[2016-07-15 13:05] #22 closed, assigned to nobody

[2016-07-30 00:03] jonbinney opened #48 "Release into kinetic 0.4.5 (or higher)"
Currently version `0.4.4` is released into kinetic, but a problem with the shared_ptr types has since been fixed.

[2016-07-31 07:08] 130s commented on #48
Done https://github.com/ros/rosdistro/pull/12246

Note that I bumped the minor version and it's now `0.5.0` for Kinetic, because 1) now we're using `kinetic-devel` branch separate from `indigo-devel` 2) `kinetic-devel` seems to diverge (C++11, FCL, eigen etc.)

[2016-08-02 00:22] 130s commented on #48
Sorry, release request is reverted.

From https://github.com/ros/rosdistro/pull/12246#issuecomment-236726117

[2016-08-02 00:40] 130s opened #49 "C++11 error on ROS buildfarm for kinetic"
Can @davetcoleman, @de-vri-es address this issue? I'm not the right person to fix this.

From https://github.com/ros-planning/geometric_shapes/issues/48#issuecomment-236751758

This appears to use c++11 in it's headers but doesn't export it for downstream. Causing failures:

[code]

http://build.ros.org/view/Kbin_uX32/job/Kbin_uX64__collada_urdf__ubuntu_xenial_amd64__binary/16/console

[2016-08-02 00:41] 130s commented on #48
For some reasons this time I slacked off running a pre-release test. Once #49 gets resolved, I'll make a new release with pre-release test on.

[2016-08-02 01:07] jonbinney commented on #49
Oops - I'll submit a PR to fix this. I didn't realize that packages could export the C++11 flag.

[2016-08-02 01:35] jonbinney commented on #49
@tfoote I'll fix geometric_shapes to export the `-std=c++11` flag; is that OK though? I believe geometric_shapes is part of desktop_full, and according to REP 0003 "the API of the packages included in desktop-full will not use any C++11-specific feature.". The use of `std::shared_ptr` in geometric_shapes is in the constructor of the octomap class, which seems like part of the API: https://github.c

[2016-08-02 01:41] jonbinney commented on #49
It looks like collada_urdf (which depends on geometric_shapes) doesn't even build with `-std=c++11`:

[code]

I can update collada_urdf to fix that, but I think the right answer is to remove `std::shared_ptr` from the geometric_shapes API.

[2016-08-02 02:31] jonbinney commented on #49
I went ahead and created a PR that exports the flag, in case we decide to go that route: https://github.com/ros-planning/geometric_shapes/pull/50

[2016-08-02 03:49] davetcoleman commented on #49
I'd like to keep the C++11 support so that downstream packages in Kinetic can use C++11 as stated in the Kinetic minimum requirements. We converted geometric_shapes because it uses `boost::variant` that has c++11/c++03 incompatibilities in [this issue](https://github.com/ros-planning/moveit_core/issues/310).

Still, I see how this is tricky...

[2016-08-02 04:32] jonbinney commented on #49
Ah, I hadn't seen that bit about the boost variant issue. In that case I think we definitely need guidance from the ROS core team.

[2016-08-02 16:56] v4hn commented on #49
Look at the error messages in the first message:

The same bug also exists in the `resource_retriever` module, that is already released in kinetic. @jacquelinekay you introduced the delete there, so I suppose you are interested in this issue too.

Regarding `geometric_shapes`, this boils down to the following:
@tfoote We currently use C++11 in the `geometric_shapes` API, because
- it's a mess to m

[2016-08-02 22:53] tfoote commented on #49
@v4hn It sounds like this might be a reasonable time to make an exception from the REP. Can you start a thread on http://discourse.ros.org/c/release/kinetic proposing the exception and people can follow up there.

[2016-08-03 09:32] v4hn commented on #49
Sure, where can I send my mail to?
You recently advertised discourse as a "very powerful mailing list",
so I assume that's possible?

Everyone, feel free to start that thread there.
I only tried to summarize the points from three github issues above.

[2016-08-03 17:59] tfoote commented on #49
The email in of topic creation is experimental because the experience of creating tags and categories cleanly is hard to provide a good user experience. It's recommended to start the thread by using the web UI. But you can try using: ros+release-kinetic@discoursemail.com

All notification emails support replies by email.

[2016-08-05 13:43] v4hn commented on #49
it looks like that domain does not exist.
This has nothing to do with c++11 flags, so let's continue this [here](http://discourse.ros.org/t/discourse-a-very-powerful-mailinglist/389).

[2016-08-08 21:44] davetcoleman commented on #49
@v4hn I think this was forgotten?

[2016-08-09 12:21] v4hn commented on #49
On Mon, Aug 08, 2016 at 02:44:29PM -0700, Dave Coleman wrote:

No it was not. Somebody who has the time and the interest in this should start a discussion.
1. I already expressed my opinion on this: Either someone who has an interest in this(e.g. @de-vri-es)
   steps up and provides a pull-request that removes the boost-variant and the std-shared-ptr from this module's headers
   (this would hopef

[2016-08-09 14:13] de-vri-es commented on #49
See http://discourse.ros.org/t/std-shared-ptr-in-the-geometric-shapes-public-api/395

[2016-08-09 20:26] davetcoleman commented on #49
Thanks @de-vri-es

Good point. Having a package in desktop-full that needs to play nice with FCL and octomap (who don't care so much about desktop-full) is a pain. Easy fix: create `moveit_geometric_shapes` and be done with it

[2016-08-09 20:32] v4hn commented on #49
No.

[2016-08-15 21:47] mryellow commented on #49
Switching all `std::shared_ptr to `boost::shared_ptr` and removing C+11 flags from both `geometric_shapes` and `resource_retriever` allowed me to build `collada_urdf` cleanly.

FCL I have previously installed from source as a Debian package created with checkinstall and referenced in local rosdep. Not sure if anything broke but it compiled at least.

[2016-09-02 00:40] 130s commented on #48
Looks like 0.5.1 was released several days ago https://github.com/ros/rosdistro/pull/12471 and it seems building fine ([example](http://build.ros.org/view/Kbin_uX32/job/Kbin_uX64__collada_urdf__ubuntu_xenial_amd64__binary/19/)).

[2016-09-02 00:40] #48 closed, assigned to 130s

[2016-09-02 00:42] 130s commented on #49
Sorry I'm not following but looks like [0.5.1 for Kinetic seems to be built successfully](https://github.com/ros-planning/geometric_shapes/issues/48#issuecomment-244253469). Can this issue be closed?

[2016-09-02 03:35] jonbinney commented on #49
Yep, this should be resolved now that packages using geometric_shapes use the c++11 flag.

[2016-09-02 03:35] #49 closed, assigned to jonbinney

[2016-10-17 16:27] davetcoleman commented on #42
Did you find a solution to this? MoveIt!'s planning scene is how most of us use this package and FCL to check collisions:

https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_core/planning_scene/include/moveit/planning_scene/planning_scene.h

[2016-10-17 16:28] davetcoleman commented on #23
This issue is old - was a solution found or is it still a problem? Can it be closed?

[2016-10-17 16:28] davetcoleman commented on #29
+1 to creating a PR for this

[2016-10-17 16:48] dblanm commented on #42
I started to use the whole FCL library, so I stopped using MoveIt and the library reshape of FCL functions.

Sorry!

[2016-10-17 17:25] #42 closed, assigned to nobody

[2016-10-17 19:48] #38 closed, assigned to nobody

[2016-10-20 02:56] 130s opened #61 "[Kinetic] Release 0.5.2"
Suggested at https://github.com/ros-planning/moveit/issues/18#issuecomment-254908832
- [x] changelog, tagging
- [x] prerelease test (wily, xenial). Running prerelease test is very preferred (see #48 where prerelease test could have avoided false release)
- [x] bloom

I'm stuck at running prerelease test by https://github.com/ros-infrastructure/ros_buildfarm/issues/347, which _may_ be only happenin

[2016-10-20 03:06] 130s commented on #61
To run a prerelease test locally you need to [set up your machine](http://wiki.ros.org/bloom/Tutorials/PrereleaseTest).

[2016-10-20 03:07] davetcoleman commented on #61
I got several errors also:

[code]

[2016-10-20 03:30] 130s commented on #61
One thought is to make a judgment call to skip prerelease test only this time and see if ROS buildfarm builds it without waiting for fixing the prerelease test issue (so that we can move forward with moveit Kinetic release https://github.com/ros-planning/moveit/issues/18). If there's an issue on buildfarm we can quick-fix and make a release again.

I'll make a release now.

[2016-10-20 10:37] 130s commented on #61
Release requested for Kinetic https://github.com/ros/rosdistro/pull/12984. As said above I skipped prerelease test this time due to the tight timeframe for MoveIt! Kinetic release.

[2016-10-20 10:37] #61 closed, assigned to nobody

[2016-10-20 10:51] 130s opened #62 "[Indigo] Release 0.4.5"
Already [tagged](https://github.com/ros-planning/geometric_shapes/releases/tag/0.4.5).

Release for Indigo isn't urgent so I'll wait to make a release for https://github.com/ros-infrastructure/ros_buildfarm/issues/347 to be resolved.

[2016-10-20 10:53] 130s commented on #62
Please inform if this is not true.

[2016-10-20 13:08] rhaschke commented on #62
That's true.

[2016-10-20 16:22] davetcoleman commented on #61
Thanks @130s !

[2016-10-20 19:40] 130s commented on #61
Just fyi I ran a prerelease test now that https://github.com/ros-infrastructure/ros_buildfarm/issues/347 is resolved and it seems fine for Wily and Xenial.

[code]

Buildfarm also seems happy http://repositories.ros.org/status_page/ros_kinetic_default.html?q=geometric_shapes

[2017-01-10 22:38] clalancette opened #64 "Negative cylinder mesh shapes eat up all (at least, most) of memory"
I'm currently looking at ros/robot_model#175 , and ran into what may be a bug.  According to the URDF spec, a link with a cylinder can have a negative length and still be well-formed.  For most software, this means the cylinder grows in the negative direction from the origin.  However, when urdf_to_collada runs across it, it ends up down in geometric_shapes:createMeshFromShape(cylinder), where we

[2017-01-11 16:57] de-vri-es commented on #64
It seems odd to me that the length of the cylinder affects the number of vertices. That doesn't seem necessary. Easiest fix without changing that would be to simply take the `std::abs(h)` when computing `h_num`.

I wonder if we can just remove it though, and connect the top and bottom circles directly.

[2017-01-11 22:08] clalancette commented on #64
If you think we should go with the change to std::abs, I can open a pull request for that.  I'm not that familiar with this code, so I wouldn't be comfortable doing a more in-depth change to connect the top and bottom circles.

[2017-01-11 22:37] de-vri-es commented on #64
Understandable. A PR with `std::abs` would be welcome. You may also want to look at the code for converting cones to meshes, it probably has the same problem.

I suspect the extra circles may be a left-over artefact of common code (apparently adapted from FCL) for rendering cylinders and cones. But `std::abs` will fix the bug for now.

[2017-03-07 19:27] argrento commented on #23
I have the same issue with ROS Kinetic, OSX 10.11.6 and assimp-3.3.1.
Location of lib: `/usr/local/lib/libassimp.dylib`

Fix:
1. Open `~/ros_catkin_ws/build_isolated/geometric_shapes/CMakeFiles/geometric_shapes.dir/link.txt`
2. Replace `-lassimp` with `/usr/local/lib/libassimp.dylib`.

[2017-03-09 20:56] de-vri-es commented on #23
`geometric_shapes` simply uses a system provided cmake module or otherwise pkg-config. If that results in linking errors it sounds like there is a problem with the way Assimp is packaged by homebrew.

[2017-04-06 07:57] mikaelarguedas opened #65 "Lunar release"
Hi @isucan, @davetcoleman and geometric_shapes maintainers,

As you may know the next ROS release Lunar Loggerhead is around the corner :tada:
Is it possible to roll out the current release of `geometric_shapes` on ROS Lunar? Being a low level package it will [allow many maintainers](http://repositories.ros.org/status_page/blocked_releases_lunar.html?q=id%3D%22geometric_shapes%22&s=6&r=1) to relea

[2017-04-10 01:03] davetcoleman commented on #65
@130s typically takes care of releases for the moveit-related packages

I'll also remove @isucan from the package.xml, as he is no longer involved

[2017-04-10 14:51] mikaelarguedas commented on #65
Thanks @davetcoleman for the update.
@130s please comment here if you don't have any spare cycle to release this today. Given the impact of this on every other package, I'll bloom the current kinetic version myself if it hasn't been released by the end of the day.
Cheers

[2017-04-10 21:58] davetcoleman commented on #65
I'll release it now...

[2017-04-10 21:58] mikaelarguedas commented on #65
thanks @davetcoleman !

[2017-04-10 22:14] davetcoleman commented on #62
can this be closed? seems so

[2017-04-10 23:00] davetcoleman commented on #65
was not able to get past rosdep, feel free to take over or i can continue in a few hours.

https://github.com/ros-infrastructure/rosdep/issues/508

[2017-04-10 23:01] wjwwood commented on #65
Why do you need local rules to run? Were you just waiting on https://github.com/ros/rosdistro/pull/14498 to get merged?

[2017-04-10 23:38] mikaelarguedas commented on #65
Thanks @davetcoleman for spending time on it today! I followed up and opened https://github.com/ros/rosdistro/issues/14501

[2017-04-11 01:06] mikaelarguedas commented on #65
Compiled without pb on all platforms :tada:

[2017-04-11 01:06] #65 closed, assigned to nobody

[2017-04-11 04:08] davetcoleman commented on #65
@wjwwood even after https://github.com/ros/rosdistro/pull/14498 was merged I was still getting errors about missing dependencies, so my plan was to fix them all locally before creating the next PR. But it seems it just didn't catch the latest PR, because I think @mikaelarguedas was able to release without further rosdep rules. As an aside, I improved the rosdep documentation to speed up that proce

[2017-04-11 19:31] 130s commented on #62
This still requires a new release, which I'll work on now.

[2017-04-11 19:48] 130s commented on #62
I https://github.com/ros/rosdistro/pull/14510
J https://github.com/ros/rosdistro/pull/14511

[2017-04-11 19:48] #62 closed, assigned to nobody

[2017-05-05 09:23] LeroyR opened #68 "Broken box-ray intersection"
Had some cases where the ray/box intersection was broken.

#67

[2017-06-10 17:02] VictorLamoine opened #69 "Can't find Eigen3 when compiling Kinetic from sources"
I'm following the [build from source](wiki.ros.org/kinetic/Installation/Source) instructions, I'm using a Raspberry Pi 3 with Raspbian.

[code]

[code]

[code]

[code]

I solved the issue with:
[code]

Is it the fault of Eigen package not installing it's FindEigen3.cmake to the right path?

[2017-06-10 21:57] de-vri-es commented on #69
It shouldn't install `FindEigen3.cmake` at all, it should install `Eigen3Config.cmake`. But yeah, it sounds like a Raspian packaging problem. Your best bet would be opening a bug report with them.

[2017-06-10 23:13] VictorLamoine commented on #69
Right, CMake provides the `FindEigen3.cmake` macro!
Closing as this is not related to `geometric_shapes`

[2017-06-10 23:13] #69 closed, assigned to nobody

[2017-07-05 12:54] robobit commented on #23
I had the same issue with Kinetic, OS X 10.12.5 and assimp 3.3.1.
I used the fix by @argrento which worked for me.

[2017-08-25 12:53] broesdecat opened #70 "createMeshFromResource crashes with inventor stl files"
### Description
Calling createMeshFromResource with an stl mesh exported from Inventor 2018, the program crashes on a memory corruption. Call stack below.

Workaround 1: open the inventor stl file in meshlab (no issue there) and export is as-is as an stl. Calling createMeshFromResource on the resulting stl file works fine.
Workaround 2:  .obj files exported from Inventor are working fine.

The STL

[2017-10-20 14:07] mikepurvis opened #71 "Use of deprecated logging functions"
See: https://github.com/ros/console_bridge/blob/master/include/console_bridge/console.h#L68-L90

https://github.com/ros-planning/geometric_shapes/search?q=logWarn

https://github.com/ros-planning/geometric_shapes/search?q=logError

[2017-10-26 19:41] mikepurvis commented on #23
Just to follow this up here with some relevant links:

Homebrew formula: https://github.com/Homebrew/homebrew-core/blob/master/Formula/assimp.rb

Find module from upstream: https://github.com/assimp/assimp/blob/master/cmake-modules/Findassimp.cmake

Certainly the `find_library` portion of the module looks pretty bog-standard to me:

https://github.com/assimp/assimp/blob/92046319be744fa514d643bab38

[2017-10-26 19:46] mikepurvis commented on #23
Okay, can confirm that I see the issue on my El Cap machine. With the following `CMakeLists.txt`:

[code]

I have this output:

[code]

So find_library does the right thing, but assimp's hardcoded library name most definitely doesn't.

[2017-11-17 14:53] v4hn commented on #23
I'll close this.

All further problems with this should be discussed over at assimp:
https://github.com/assimp/assimp/issues/1517

[2017-11-17 14:53] #23 closed, assigned to nobody

[2017-12-01 19:30] davetcoleman commented on #68
This is confusing how you just have a single number for the description, can you please elaborate?

[2017-12-04 08:07] LeroyR commented on #68
#67 is a link to the pull request which shows that raytracing is currently broken
`https://github.com/ros-planning/geometric_shapes/pull/67`

[2017-12-04 08:29] LeroyR commented on #68
Again,

TEST(BoxRayIntersection, BrokenRay2)

 box (x=0.2)
 pose x=0.45
-> box X between 0.25 and 0.65
with ray from x=0 and direction x=0 should not intersect.

EXPECT_FALSE(intersect)

Results in

[  FAILED  ] BoxRayIntersection.BrokenRay2

[2018-01-09 09:29] rhaschke commented on #68
Closed via #73

[2018-01-09 09:29] #68 closed, assigned to nobody

[2018-01-15 02:35] #71 closed, assigned to nobody

[2018-01-30 21:43] ana-GT opened #76 "Non-uniform padding of non-convex, long meshes"
I noticed that when applying a padding factor to non-convex, long-in-one dimension meshes, such as the table pictured below, the padding applied to the vertices is not uniform, since it is applied along the vector joining the mesh center and the vertex being padded. Any advice on how to make the padding more accurate for this kind of meshes?

Test case example: I have a robot arm on top of the tab

[2018-01-31 03:18] pbeeson commented on #76
If padding is set like you say above, this also means object like boxes that are open on top will get bigger with padding, but the inside walls pf the bin/box will also get further from the center, meaning that padding a non-convex polygon could result in a mesh that doesn't even intersect the original mesh.

I always assumed "padding" was like a "dilate" operation that fattened the mesh, so the b

[2018-01-31 03:39] pbeeson commented on #76
Looking at shapes.cpp, you are correct.  Padding is in fact essentially doing what I always thought/knew scaling was doing, in that is pushes all vertices away from the centroid.  It seems like what you want is to find the normal for the centroid of the triangles in the mesh and then move the vertices so that the triangular centroids move by the padding amount along that normal.

[2018-02-01 09:35] bmagyar commented on #76
Agree and it has been like this since the days of `arm_navigation`. I think may of us would appreciate a fix for this.
@ana-GT would you be up for submitting a pull request if you figure out a way to solve this?

[2018-02-01 13:27] pbeeson commented on #76
@ana-GT and I discussed offline. She’s working on a method similar to
Blender’s shrink/fatten, which is what this should be. Instead the current
is equivalent to Blender’s push/pull which is less useful.
On Thu, Feb 1, 2018 at 3:35 AM Bence Magyar <notifications@github.com>
wrote:

[2018-02-01 17:49] ana-GT commented on #76
Hi  @bmagyar ! As @pbeeson  said, an easy way to improve the padding effect would be to apply it along the vertices normals (Blender's approach). We created a [fork](https://github.com/traclabs/geometric_shapes) and are experimenting a bit. I'll let you know soon if we get some good results.

PS.- So far, the first thing to improve is the vertex normal calculation procedure: geometric_shapes calcu

[2018-02-02 03:21] ana-GT commented on #76
@bmagyar : Seems we got some good results. In our [fork](https://github.com/traclabs/geometric_shapes) we tested a couple of fixes for the padding effect:

1. Changed the computeVertexNormals(). The original version performed an average of the  faces' normals per each vertex. We changed this to be a weighted average using the vertices' angles. There is more than one way to calculate the weights, b

[2018-02-02 03:31] ana-GT commented on #76
PS.- A couple of comments about the padding update:

1. I tested the padded meshes' output it with our collision-free software. There does not seem to be any issues. The only oddity I noticed was a ROS_INFO message from FCL: "eigen: too many iterations in Jacobi transform".
2. Our padding version produces a more realistic effect (i.e. the object actually "fattens"); however, it still has limitatio

[2018-04-05 20:48] clalancette opened #78 "Release into Melodic"
All of the dependencies for geometric_shapes are available in Melodic, so it would be great to get this released there.  Thanks in advance!

[2018-04-06 14:54] rhaschke commented on #78
@clalancette I would do so. But I don't have permissions for the release repo.

[2018-04-06 15:32] rhaschke commented on #78
TODOs for release(s)

- [ ] permission for release repo https://github.com/ros-gbp/geometric_shapes-release.git
- [x] merge #81 to fix #64
- [x] release 0.5.4 into kinetic
- [x] new melodic-devel branch
- [ ] merge #77 into melodic-devel
- [ ] release 0.6.0 into melodic (API/ABI changes)

[2018-04-06 17:33] bmagyar commented on #78
I seem to have push access to the repo so I can do the release once the required merges are done.

[2018-04-06 19:05] rhaschke commented on #78
@bmagyar I prepared the release 0.5.4, creating the `changelog` and tag `0.5.4`. If you could `bloom` into Kinetic, that would be great, thanks.
I also suggest to release this version (`0.5.4`) into Melodic for now, so that releasing for ROS Melodic can continue. If #77 is merged, we should release the new version `0.6.0`.

[2018-04-06 22:13] bmagyar commented on #78
Thanks! I pushed 0.5.4 to Kinetic, already merged. Ran pre-release tests with dependants for Lunar (took a while!), released there too. Added 0.5.4 to Melodic as well.

Kinetic and Lunar use `kinetic-devel` while the Melodic release already uses `melodic-devel` for devel branch. We should be good to move on with merges and newer versions soon.

[2018-04-19 18:57] jeholliday opened #83 "wstool/rosdep fetches incompatible versions of geometric_shapes and libconsole-bridge"
I ran into compatibility issues when trying to build this package with ROS from source on armhf Debian jessie following [this guide](http://wiki.ros.org/kinetic/Installation/Source). The problem came from rosdep fetching the latest version it could find of libconsole-bridge which is only [0.2.5-2](https://packages.debian.org/jessie/libdevel/libconsole-bridge-dev). #72 removed support for this old

[2018-04-20 06:49] rhaschke commented on #83
Obviously Jessie is way too old to compile a decent MoveIt version without issues.
I'm not sure what your are asking for. Yes, one could enforce geometric_shapes to require libconsole-bridge 0.3. However, that's not the way you finally solved your issue...

[2018-04-20 18:50] jeholliday commented on #83
I'm not familiar with how wstool and rosdep work, but it seems like they need to know that it should only fetch an older version of geometric_shapes when it can't find the latest version of console-bridge. I don't know how you implement this, but I wanted to let you know.

[2018-04-24 00:26] tfoote opened #84 "0.5.4 does not build on Debian Jessie"
It is using a too new version of console bridge. This has caused the regression of ~71 downstream packages so I'm rolling it's release into kinetic back:https://github.com/ros/rosdistro/pull/17589

For example: http://build.ros.org/job/Kbin_dj_dJ64__geometric_shapes__debian_jessie_amd64__binary/53/console
[code]

It is possible to support both versions of the console bridge API through a single so

[2018-04-24 09:48] rhaschke commented on #84
Thanks for pointing this out. I think, branching is not an option, as only a single branch (Kinetic) is already facing different versions of `console_bridge` in different OS systems. Hence, I filed PR #85 using the suggested compatibility layer.

[2018-04-24 09:48] #84 closed, assigned to nobody

[2018-05-30 14:27] skohlbr opened #86 "Box/ray intersections are broken in 0.5.4"
I'm on 16.04/Kinetic and geometric_shapes installed from .debs (0.5.4). It appears box/ray intersections do not work at all, at least in my application (ray-based self filtering). I created a test URDF with 3 primitives for testing ray intersection functionality. When I use 3 spheres for these shapes, things look as expected, with the sphere shapes shadowing cloud data behind them:
![spheres](http

[2018-05-30 14:50] rhaschke commented on #86
@LeroyR Please could you have a look at this issue, as you changed this code.

[2018-06-04 08:12] LeroyR commented on #86
The intersection code seems to be fine, hit locations and ordering seems to be fine.
They cant be totally broken as the tests suite complete and my experiments did still finished as expected.

my code looks something like this:
[code]

Can you confirm it worked in 0.5.3 or produce example points & a box that should intersect but fail?

[2018-09-01 02:47] Jmeyer1292 opened #87 "Shape Derived Classes Lack Co-Variant Return Type for Clone()"
C++ has covariant return types. They are useful for things. They are especially useful for implementing `clone()` functions polymorphically. See [this page](http://www.lwithers.me.uk/articles/covariant.html).

So for instance:
[code]
should be
[code]
I was attempting to load many, large models using this library. I wanted to cache the `shapes::Mesh*` pointers using their URI name. Unfortunately ev

[2018-09-01 04:48] v4hn commented on #87
Sounds good. Could you provide a patch please?

[2018-11-16 13:23] peci1 opened #89 "Body::computeBoundingBox?"
I've noticed the interface of `Body` has methods `computeBoundingSphere` and `computeBoundingCylinder`, but there's no `computeBoundingBox`.

I think BBs are so common that it's a pity they're not in the interface. Also, the implementation would be super easy, as the most complicated (`ConvexMesh`) already computes a helper BB.

However, the other two existing methods are virtual, so it'd make sen

[2018-11-16 13:35] peci1 commented on #89
And to be consistent with the return type of `computeBounding*`, there should be a new type `BoundingBox` defined. My proposal is to make it a typedef of `Eigen::AlignedBox3d`.

[2018-11-20 18:27] peci1 opened #91 "bodies::Body::containsPoint() has non-consistent behavior for "surface" points"
Sphere [excludes surface points](https://github.com/ros-planning/geometric_shapes/blob/7c4cb2d84193b2dfd14ebf4cbb96b64dd3ebceca/src/bodies.cpp#L133).

Cylinder [includes top and bottom surfaces, but excludes the sides](https://github.com/ros-planning/geometric_shapes/blob/7c4cb2d84193b2dfd14ebf4cbb96b64dd3ebceca/src/bodies.cpp#L264).

Box [includes all surface points](https://github.com/ros-planni

[2018-12-09 09:49] rhaschke commented on #91
I think the main issue here, is that spheres and cylinders are eventually approximated by triangle meshes. Hence, there is only a minimal chance to exactly hit a vertex point on the surface of a cylinder / sphere surface - which then will be considered inside.
I'm afraid this won't fix.

[2018-12-09 10:25] peci1 commented on #91
In what use-case are they approximated? In visuals? But that's no problem... we're talking about collision shapes here, and these guys are pretty often composed of these basic shapes to speed up computations... Or am I missing some point?

[2018-12-09 10:31] rhaschke commented on #91
`geometric_shapes` is used by MoveIt for collision shapes, yes. But as MoveIt uses FCL for collision checking, everything is approximated using triangle meshes.

[2018-12-09 10:38] peci1 commented on #91
Hmm, that's interesting, I thought FCL is more "clever"... But anyways, the code of collision_shapes is used at some places anyways, regardless of whether it continues to FCL or not. And in these places, I still think consistency would be good, wouldn't it?

[2018-12-09 10:47] peci1 commented on #91
At least [in narrowphase](https://github.com/flexible-collision-library/fcl/blob/9dba579158109c0164bfe0e8b4a75c16bfc788f6/include/fcl/narrowphase/detail/primitive_shape_algorithm/sphere_sphere-inl.h#L66) it looks like at least some collision checks are done precisely.

[2018-12-10 09:09] rhaschke commented on #91
@guihomework I remember you mentioned FCL being slower with geometric collision checks. Do you remember the reference?

[2018-12-10 10:01] guihomework commented on #91
@rhaschke , the paper tested it, and converting geometric shapes to meshes led to similar or faster results, unfortunately approximating the cylinders (problem we faced at some point but not anymore apparently, maybe they changed the meshing)
I put here the table they have in the paper    http://gamma.cs.unc.edu/FCL/fcl_docs/webpage/pdfs/fcl_icra2012.pdf

object    | ODE | FCL
--|---|---
Boxes | 0

[2018-12-10 10:36] peci1 commented on #91
Thanks for the interesting paper reference.

But back to the original question - I still don't understand why should `Body::containsPoint()` be related to how FCL processes collisions.

I searched for usage in the ros-planning org, and these are the places I found:
https://github.com/ros-planning/moveit/blob/melodic-devel/moveit_ros/perception/point_containment_filter/src/shape_mask.cpp#L169
https

[2018-12-10 11:06] rhaschke commented on #91
@guihomework Looks like your information stems from the original paper only (comparing FCL to ODE). Since then, FCL has added geometry-based collisions as well. We need to find more recent results on this!

@peci1 I can understand your point of view. Actually, I would prefer to switch to geometry-based collisions for FCL as well. However, this is probably a lot of work... Any volunteers?

[2018-12-10 11:11] peci1 commented on #91
Uhm, not me, sorry for that... This would be way more work than I can do for Moveit now...

[2019-01-17 14:05] simonschmeisser commented on #91
@rhaschke I cannot follow completely. Do you know where exactly this conversion from primitive (eg sphere) to mesh happens on it's way to fcl? Looking here https://github.com/ros-planning/moveit/blob/abc4f4070e300352c851f84fb53fa6d06c9eacbb/moveit_core/collision_detection_fcl/src/collision_common.cpp#L784  I can see that a `fcl::Sphered` is created

[2019-01-17 14:29] rhaschke commented on #91
@simonschmeisser Thanks for looking deeper. Indeed, MoveIt seems to have used basic shapes for ages and only FCL itself improved representation of basic shapes such that the issue https://github.com/flexible-collision-library/fcl/issues/122 I remembered is solved now.
Hence, may I ask @peci1 to fix `Cylinder::containsPoint()` to consider all surface points inside.
Please feel free to directly add

[2019-01-17 16:22] simonschmeisser commented on #91
@rhaschke yes, they added several special cases (primitive-primitive collisions instead of generic mesh ones) recently and also seem to have added quite some tests for them

[2019-01-18 09:52] peci1 commented on #91
Nice findings. Okay, I'll do the cylinder - but then I think sphere should also be fixed to include the surface points, shouldn't it?

[2019-01-18 10:10] rhaschke commented on #91
Yes, of course. I didn't read the initial comment carefully enough. I had the impression, spheres were handled correctly already.

[2019-01-26 00:57] peci1 commented on #91
I updated #91 with the fix for this issue.

[2019-04-27 17:02] BryceStevenWilley commented on #91
Given that #97 (which succeeds #90) has been merged, I'm closing this issue.

[2019-04-27 17:02] #91 closed, assigned to nobody

[2019-05-01 02:54] BryceStevenWilley commented on #78
Closing this, as we've released.

[2019-05-01 02:54] #78 closed, assigned to nobody

[2019-05-01 02:56] BryceStevenWilley commented on #64
#81 has been merged and released into kinetic and melodic, this issue should be fixed.  Feel free to reopen if it's not.

[2019-05-01 02:56] #64 closed, assigned to nobody

[2019-05-01 03:13] BryceStevenWilley commented on #76
@ana-GT Is there any chance you're willing to open a PR for this? Point 1 seems to be related to [some bug](https://github.com/flexible-collision-library/fcl/issues/190), but we can try to fix that before merging. I'd be okay with Point 2, given it's still an improvement, and point 3 should be okay as well (maybe some mesh cleanup can be done later if desired). Overall I see this as a net positive

[2019-05-01 03:44] BryceStevenWilley commented on #70
I can't recreate this on 6ae5a0a2922c2183fac1d33cf07a7064ed3c363b, both of the included meshes load fine without crashing.

I'm going to close this since it's a bit old, but feel free to reopen if you still have this issue.

[2019-05-01 03:44] #70 closed, assigned to nobody

[2019-05-01 03:52] BryceStevenWilley commented on #89
@peci1 I definitely think this would be useful, did you ever make a branch for this? I think for melodic-devel we should be willing to break ABI for this, but unless there's a demand for it, I don't think it's necessary to backport to indigo (for which support has explicitly ended already) or kinetic.

Should this return an axis aligned BB or an oriented BB? IMO there should be support for both.

[2019-05-01 04:45] BryceStevenWilley commented on #83
Not sure if wstool/rosdep work that way. wstool only provides for a single specific version in a rosinstall file (either a specific commit or a branch), and limiting `geometric_shapes` to a commit pre #72 is a no-go.  rosdep can specify `version_gt`, of which `libconsole-bridge-dev` could be `> 0.4.0`, but as @rhaschke said, that wouldn't fix your problem, and rosdep wouldn't necessarily have [enf

[2019-05-01 04:45] #83 closed, assigned to nobody

[2019-05-01 09:20] peci1 commented on #89
Hey, I still haven't done that, but I can, at least for aligned BBs.

With oriented BBs, I'm not sure how to compute them, because there are too many degrees of freedom - should it be the least volume, or the least area, or the least circumference? Do you know of a working implementation? It'd probably be best to just use an existing library.

[2019-05-03 02:51] BryceStevenWilley commented on #89
IMO least volume is the most useful for collision checking. The only implementation I could find was https://github.com/gabyx/ApproxMVBB, but I'd rather have it implemented in `geometric_shapes` as opposed to adding an external dependency to a source library.  It's definitely non-trivial to add, so I wouldn't worry about it for now, we can focus on getting AABBs in.

[2019-06-14 14:41] cpetersmeier opened #111 "How to install for import"
Hello,

maybe my question is obvious, but I am not sure how to install the library, so that I can import them into my own packages.

[2019-06-14 15:34] cpetersmeier commented on #111
I found the solution [here](http://answers.ros.org/question/234371/creating-a-collisionobject-from-a-mesh-in-indigo/)

In my case, the function call of the createMeshFromResource function didnt work.

`#include "geometric_shapes/shapes.h"`
`#include "geometric_shapes/mesh_operations.h"`
`#include "geometric_shapes/shape_operations.h"`

[2019-06-14 15:34] #111 closed, assigned to nobody

[2019-08-08 06:38] rhaschke commented on #87
Fixed in #102.

[2019-08-08 06:38] #87 closed, assigned to nobody

[2019-12-30 21:58] mlautman opened #123 "Possible memory leak in MoveIt's usage of geometric_shapes"
I have noticed a potential memory leak in MoveIt's usage of geometric_shapes for the planning_scene. After adding and removing boxes thousands of times to different `planning_scene::PlanningScenePtr`s, removing boxes starts to take an incredibly long time. This can be demonstrated by modifying `suction_grasp_pipeline_demo.cpp` to filter grasps with the `moveit_grasps::SuctionGraspFilter` > 10 time

[2019-12-30 22:06] mlautman commented on #123
moving to MoveIt repo since the bug was discovered in MoveIt's usage of geometric shapes.

[2019-12-30 22:06] #123 closed, assigned to nobody

[2020-03-13 20:37] peci1 opened #125 "Performance: Body::setPose() should use Eigen::Isometry3d::linear() instead of ::rotation()."
Here: https://github.com/ros-planning/geometric_shapes/blob/bca6b88be8ba70851c79f785e0d45b12cb1917df/src/bodies.cpp#L318

And here: https://github.com/ros-planning/geometric_shapes/blob/bca6b88be8ba70851c79f785e0d45b12cb1917df/src/bodies.cpp#L549

When using rotation(), Eigen unnecessarily does SVD decomposition via `Eigen::Transform::computeRotationScaliing()`. But we're working with isometries,

[2020-03-13 20:39] peci1 commented on #125
A guy on SO says [newer Eigen should recognize and use the potential optimization](https://stackoverflow.com/a/58680648/1076564), but at least the version used in Melodic doesn't do that.

[2020-03-14 09:35] v4hn commented on #125
Could you create a pull-request and in the best case benchmark the performance improvement?
If the `Isometry` template indeed does not optimize away the SVD, this impacts MoveIt in general just as well.

[2020-03-14 19:59] peci1 commented on #125
I'll try that. Just as a confirmation, here's the disassembly of /opt/ros/melodic/lib/libgeometric_shapes.so version 0.6.1-0bionic.20191205.163901 (created by `objdump -d`):

    0000000000014370 <_ZN6bodies8Cylinder18updateInternalDataEv@@Base>:
        ...
        1442e:	e8 dd 82 ff ff       	callq  c710 <_ZNK5Eigen9TransformIdLi3ELi1ELi0EE22computeRotationScalingINS_6MatrixIdLi3ELi3ELi0ELi3ELi3

[2020-03-15 08:42] v4hn commented on #125
This is indeed the case and it is very frustrating that nobody noticed this during the transition from `Affine3d` to `Isometry3d`... I would have expected some gperf analysis to point this out.

Could you prepare the corresponding pull-request?
Preferably also for the main MoveIt repository, but someone else could do that too...

[2020-03-15 09:37] peci1 commented on #125
Yes, I'll have a look at it. Do you know of a good example of performance tests, ideally in moveit? I haven't written these yet so I'd like to get them right... I assume the timeouts in tests should be "calibrated" for Release builds, is that right?

[2020-03-15 17:13] v4hn commented on #125
I would not expect automated tests for the testsuite for performance expectations.
MoveIt does not do this kind of testing (yet).

Some measurements demonstrating the performance difference would be great.

[2020-03-22 01:50] peci1 commented on #125
Okay, I tested setPose() in a release build and the performance improvement is massive.

I constructed a "test case" which calls setPose() 10.000.000 times for each of the defined bodies (for ConvexMesh I created 2 cases, one for unscaled, and one for scaled mesh). The mesh I used was the box.dae from the tests directory.

Before the fix:

[code]

With the fix:

[code]

And with another improvemen

[2020-03-25 01:56] peci1 opened #127 "Wrong assumption about planes of a ConvexMesh in case padding is used"
In `ConvexMesh::useDimensions()`, there is this code that processes planes (halfspaces) generated by qhull:

https://github.com/ros-planning/geometric_shapes/blob/07a5254b698ecc89e511dc5b3182ecb6c7d2258e/src/bodies.cpp#L903-L904

It checks if the plane for the currently processed triangle/facet isn't too similar to the plane for the previous triangle. If it is, it merges these planes into one and

[2020-03-25 10:38] v4hn commented on #127
Reading this, my first impression was: What a weird kind of padding...
Do we actually want to have/keep this definition of padding?
Would, e.g., padding only convex vertices, be a reasonable alternative definition?

Does the "optimization" you mention above achieve such an alternative definition consistently?

[2020-03-25 11:25] peci1 commented on #127
What do you mean by padding only convex vertices? You mean only those that are not in the middle of a larger plane? That would probably be more of what one expects, but the computations would be even more complicated...

The optimization I suggested would follow the current "weird" padding definition. Maybe the current behavior e.g. in `isPointInPlanes()` is closer to your alternative definition (

[2020-03-25 11:55] v4hn commented on #127
This is what I had in mind, yes.

That is why I wanted to raise the question of whether the current definition is even what we want.
I guess the decision boils down to:

- Currently all *vertices* of convex meshes are padded, which leads to the unintuitive behavior illustrated above when meshes are not minimal.
  To achieve consistency in this case, we should remove some input optimizations and sh

[2020-03-25 12:38] peci1 commented on #127
Okay, let't talk about it tomorrow, I'll join.

[2020-03-26 17:39] peci1 commented on #127
Here's a wrap-up from the WG meeting.

Any changes we make, we should want their behavior to be synchronized between shapes and bodies. I only see a problem that shapes have a (general) Mesh, while bodies have ConvexMesh.

There are multiple alternative ways of implementing padding:

1. Apply padding along triangle normals. Reconstruct vertices by re-intersecting the planes. Points in the middle o

[2020-03-26 17:40] peci1 commented on #76
Anybody interested in this issue might want to chime in to https://github.com/ros-planning/geometric_shapes/issues/127 where we're seeking a better new definition of padding.

[2020-04-13 20:30] sloretz opened #131 "Release geometric_shapes into ROS Noetic?"
Would you mind releasing `geometric_shapes` to ROS Noetic? It looks like all of its dependencies have been released, and recursively 41 repos need it.

[2020-04-18 05:42] guru-florida opened #132 "Release in ROS2 Eloquent?"
Hi. I was surprised to see this missing in ROS2 Eloquent, but apparently is available in Dashing. Is there plans to include it again?

[2020-04-23 15:40] simonschmeisser commented on #131
probably also something for your weekend @rhaschke ?

[2020-04-24 03:45] rhaschke commented on #131
Let's see how much time my weekend actually has...
It would be great of course to have all the pending PRs merged before a release... @peci1, @v4hn what is missing to this end?

[2020-04-24 05:31] v4hn commented on #131
On Thu, Apr 23, 2020 at 08:45:22PM -0700, Robert Haschke wrote:

Someone to review and test them.
In my opinion, you might release it already to enable dependency resolution though.
We should have a followup release soon though.

[2020-04-24 08:42] peci1 commented on #131
Yeah, I think all my PRs are ready to be merged and reviews are the only missing thing. I'll be available today and on Saturday. On Sunday I probably won't be able to quickly respond...

[2020-04-24 15:48] v4hn commented on #131
I spend half the day reviewing all open requests here and peci just addressed my few comments.

There are 6 open and approved pull-requests lying around waiting for a second approval to merge.

[2020-04-25 11:13] #29 closed, assigned to nobody

[2020-04-26 00:29] peci1 commented on #131
Would it be possible to leave at least a week or so since noetic-devel is created to the actual API/ABI freeze? There are things that'd benefit from breaking API/ABI, but as there is no noetic-devel yet, it's impossible to send PRs...

[2020-04-26 06:19] rhaschke commented on #131
No problem to postpone until next week. geometric_shapes is mainly [blocking the MoveIt release](http://repositories.ros.org/status_page/blocked_releases_noetic.html?q=geometric_shapes&s=6&r=1), which is not going to be released into Noetic within the next few weeks.

[2020-04-27 10:07] rhaschke opened #134 "Add mutex to protect global map"
@peci1, please address https://github.com/ros-planning/geometric_shapes/commit/ed4cf1339cf3765ae9ffa6e6fd111a4e342c5fa2#r38767382. Thanks.

[2020-05-02 10:32] #134 closed, assigned to nobody

[2020-05-12 16:20] sloretz commented on #131
Friendly ping, anything `geometric_shapes` needs before release?

[2020-05-12 17:02] rhaschke commented on #131
@v4hn, do we want to merge the open PR(s) before a Noetic release?

[2020-05-22 18:56] wxmerkt commented on #131
Friendly ping, are there other PRs you'd like to merge before releasing? I am happy to help out with testing or in another capacity :-)

[2020-05-22 18:59] peci1 commented on #131
I think #144 should definitely be merged before release. It was requested in https://github.com/ros-planning/moveit/pull/1964 and the changes in moveit will depend on it.

[2020-05-25 07:49] rhaschke commented on #125
Fixed via #126.

[2020-05-25 07:49] #125 closed, assigned to nobody

[2020-05-25 07:51] rhaschke commented on #86
This should be fixed via #109 in Melodic.

[2020-05-25 07:51] #86 closed, assigned to nobody

[2020-05-25 07:53] rhaschke commented on #131
Release PR: https://github.com/ros/rosdistro/pull/25051

[2020-05-25 07:53] #131 closed, assigned to nobody

[2020-06-05 10:21] simonschmeisser opened #146 "add so versions?"
As discussed in https://github.com/ros-planning/geometric_shapes/commit/ed4cf1339cf3765ae9ffa6e6fd111a4e342c5fa2#r38768115  adding so-versions would add some safety and help discover issues on binary incompatibility early on.

If I recall correctly there were some issues that bloom cannot actually pass on this information to Debians but at least the software would not start instead of later crashi

[2020-06-05 16:58] v4hn commented on #146
File a pull-request. I'm in favor of adding it.
The biggest discussion is whether we want to bump the SONAME only on ABI changes or with every release.

[2020-06-05 20:21] felixvd opened #148 "scaleAndPadd does not keep the object centered"
I tried loading an object and scaling down the mesh with `scaleAndPadd` (the file is in mm instead of m), but the vertices move to a location that's not the center.

Here is the resulting location of the object after scaling by a factor of 0.1 (the grey slate in the middle of the image is the robot and the map grid):
![Screenshot from 2020-06-06 05-04-30](https://user-images.githubusercontent.com/

[2020-06-05 20:51] peci1 commented on #148
In bodies, there is an explicit mesh center read from the mesh file. Did you try scaling the body instead of the shape?

[2020-06-06 13:41] felixvd commented on #148
I'm not sure what you mean by body. In the [section of code](https://github.com/ros-planning/moveit/pull/2142) I am editing I only see a [mesh](http://docs.ros.org/api/geometric_shapes/html/classshapes_1_1Mesh.html) and a ShapeConstPtr to it. The `collision_world` object does not have a scale method from what I can see. Am I missing something?

[2020-06-06 17:36] peci1 commented on #148
Hmm... geometric_shapes differentiate between shapes and bodies. Shapes describe just the shape. Bodies describe items in a world which have their pose attached, allow point containment tests, raycasting etc. But as I quickly skimmed through the code you're referencing, it only uses shapes and never makes a body out of them.

The definition of padding for shapes and bodies is different as of now (

[2020-06-07 00:43] felixvd commented on #148
Sure, should have done it right away.

[03-PANEL2.zip](https://github.com/ros-planning/geometric_shapes/files/4741236/03-PANEL2.zip)

[2020-06-23 02:09] felixvd commented on #148
Do you have an idea about how to solve this or work around it?

[2020-06-24 19:29] tylerjw commented on #132
https://index.ros.org/p/geometric_shapes/

It looks like we have a dashing-devel branch but not a dashing release yet.  This might be because for now moveit2 is depending on this as a source dependency.  It seems like it would be worthwile to release this for dashing/eloquent/foxy.

[2020-06-24 19:33] tylerjw opened #151 "Foxy Release"
For a Foxy release of this we need a foxy release of octomap: https://index.ros.org/p/octomap/github-octomap-octomap/#foxy

[2020-06-24 19:40] tylerjw opened #152 "Drop -devel from release branch names"
As these branches are used for releases and not current devleopment, could we just use the ros version as the branch name?

[2020-06-24 20:55] v4hn commented on #152
The `-devel` suffix is rather a ROS standard to indicate there might be (and usually are) more commits in there than in the last version released into the distribution.

It's just a convention, true.
But I consider it useful to refer to when talking to users who tell you "I used the kinetic version". Well, which one? The release or the upstream repo branch?

[2020-06-24 23:16] tylerjw commented on #152
There are only unreleased features in these branches when we are preparing for a release though right?

[2020-06-25 13:44] v4hn commented on #152
That description includes almost always - except for the time span after the release and before someone requests a backport (or someone gets around to look through the backport commit log).
Of course over time, less users of a distribution are interested in backports, but it still happens rather regularly.

[2020-06-25 17:41] #152 closed, assigned to nobody

[2020-06-26 10:05] peci1 commented on #148
Felix, I'm now convinced that the scaling works as it should.

The mesh you provided has vertices from `(0, 0, 0)` "up to" `(116, 90, 25)`. So if you scale the mesh towards its center(oid), it should stay positioned around the original centroid (roughly `(49, 42, 5)`). That would exactly match what you observe.

I guess you'd get what you expect if the mesh had its centroid in `(0, 0, 0)`.

If you

[2020-06-28 18:05] felixvd commented on #148
Thanks for looking into it! I understood the problem better. `shapes.cpp` scales the mesh by keeping its centroid stationary, but the origin of a mesh is generally not at its origin. The mismatch between coordinate system origin and centroid is what is causing the problem, and the interactive marker to remain so large.

I see two ways to solve this:
1. As you suggested, center the mesh when the `C

[2020-06-28 19:11] v4hn commented on #148
I only read your comments here, but why isn't it an option to simply "scale" the origin as well w.r.t. the centroid?
That doesn't sound too complicated and would not break intuitive behavior.

[2020-06-28 19:13] peci1 commented on #148
@v4hn Do you mean first figuring out the centroid, "scaling it", and then scaling all vertices and moving them to match the computed centroid?

[2020-06-28 19:29] v4hn commented on #148
Either that, or extend the interactive marker side to allow for an offset position that represents the scaling.
Moving the Marker might not be a nice move when the user deliberately put the mesh origin somewhere else...

[2020-06-28 19:41] peci1 commented on #148
And isn't the method you propose, @v4hn, equivalent to scaling towards zero? I mean, I think (hope) there was a reason for implementing scaling towards the centroid rather than towards zero. Honestly, I don't think it's possible to change the default scaling behavior without silently breaking lots of downstream code. But we could add methods like `scaleAndPaddTowardsZero()` or similar for `shapes:

[2020-06-28 22:12] v4hn commented on #148
Probably true. I proposed to do it like that in the context of the RViz GUI in order not to break user interaction, while not changing anything in the general geometric_shapes classes or the datastructures behind the GUI.

No, that's not an option.

Reasonable auxiliary methods.
I'm not sure that would help with the current problem, because scale and padding are represented by two numbers in MoveI

[2020-06-28 22:58] peci1 commented on #148
I agree. Solving this issue on the rviz side seems like the best option to me.

[2020-06-29 07:09] felixvd commented on #148
As is, scaling CollisionObjects in Rviz won't cause issues unless multiple shapes are defined and/or a mesh is not centered on the object. The current scaling behavior is safe for padding and probably mainly meant for that, so it should remain the default. I will close this.

[2020-06-29 07:09] #148 closed, assigned to nobody

[2020-08-31 14:59] rhaschke commented on #146
Addressed via #157 in Noetic.

[2020-08-31 14:59] #146 closed, assigned to nobody

[2020-10-02 19:24] tylerjw commented on #132
Closing because I believe we are targeting only Foxy for ros2.

[2020-10-02 19:24] #132 closed, assigned to tylerjw

[2021-03-03 06:12] zuxinrui opened #166 "foxy build error linking boost libbrary"
**Platform:** ubuntu 20.04 foxy
When build the package from source using ros2 branch, something wrong with linking the boost library:

--- stderr: geometric_shapes
/usr/bin/ld: CMakeFiles/test_loaded_meshes.dir/test_loaded_meshes.cpp.o: in function `CompareMeshVsPrimitive::SetUp()':
test_loaded_meshes.cpp:(.text._ZN22CompareMeshVsPrimitive5SetUpEv[_ZN22CompareMeshVsPrimitive5SetUpEv]+0x13f): undef

[2021-03-11 03:30] TungYiLai opened #167 "Possible Memory Leak in constructBodyFromMsgHelper()"
Won't it causes memory leak if `shape` is allocated but never deleted?
https://github.com/ros-planning/geometric_shapes/blob/85999cb/src/body_operations.cpp#L182

[2021-03-11 07:16] rhaschke commented on #167
I agree. Thanks for pointing this out. I filed #168 to fix this.

[2021-03-11 09:36] #167 closed, assigned to nobody

[2021-04-29 23:35] #151 closed, assigned to tylerjw

[2021-04-30 02:54] DLu opened #184 "Galactic Release"
Blocked by
 - [x] https://github.com/OctoMap/octomap/issues/335
 - [x] https://github.com/ros-planning/random_numbers/issues/31

[2021-04-30 09:01] newcanopies opened #185 "--- stderr: geometric_shapes/src/bodies.cpp:44: warning: redundant redeclaration(s)"
Hi, should this error be logged when building `geometric_shapes `  and does it affect package functionality?

[code]

## env
  - Ubuntu 20.04
  - ROS2 Foxy
  - binaries
  - server glx vendor string: SGI
  - sudo apt update = up to date

[2021-04-30 15:19] tylerjw commented on #185
Those warnings are from the `qhull` library headers.  That is not part of this project and we do see those warnings every time we build.  If you have any ideas for how to to fix those warnings we'd appreciate it.

[2021-04-30 15:36] rhaschke commented on #185
`qhull` headers (as all other external headers) should be included via `-isystem` instead of using `-I`. This should silence any warnings outside the code base.

[2021-05-19 10:01] rhaschke commented on #185
Fixed via #186

[2021-05-19 10:01] #185 closed, assigned to nobody

[2021-06-10 15:58] pvanlaar commented on #166
I tried to reproduce the issue, but I could not. I started from a clean fox-ros-base installation on Ubuntu 20.04 and cloned this repo. After that I used rosdep to install the dependencies for this package. One of the dependencies that got installed was Boost (installed as version 17, i.e. libboost1.71-dev).

Could you be missing libboost-dev on your system?

### Commands you could use:
Install Bo

[2021-06-17 20:11] DLu commented on #184
Closed by https://github.com/ros/rosdistro/pull/29942

[2021-06-17 20:11] #184 closed, assigned to nobody

[2021-06-25 12:36] toomuchcookies opened #199 "building geometric_shapes results in error /visualization_msgs/msg/detail/markertraits.hpp"
Following the [moveit getting started tutorial](http://moveit2_tutorials.picknik.ai/doc/getting_started/getting_started.html) but substituting 'galactic' for 'foxy' i got this error message while building:

https://gist.github.com/toomuchcookies/22dd60fde7e6e5691956c16efd4f2f3e

@JafarAbdi , i hope this helps.

[2021-06-27 11:29] vatanaksoytezer commented on #199
Hi @toomuchcookies thanks for reporting the issue! I tried this with a fresh galactic docker that contains `ros-galactic-desktop`. Following the instructions on getting started compiles moveit2 (including geometric_shapes) without any problems. Did you also perform the actions in installing ros2 and colcon part of getting started http://moveit2_tutorials.picknik.ai/doc/getting_started/getting_star

[2021-06-27 12:17] vatanaksoytezer commented on #199
https://github.com/PickNikRobotics/rviz_visual_tools/pull/190 should fix compile issues and enable build of moveit2_tutorials on Galactic

[2021-06-30 13:12] toomuchcookies commented on #199
Thanks @vatanaksoytezer and @JafarAbdi  for your efforts.

So i first tried to start anew and followed the tutorial using foxy. Unfortunately now there is a new error:
https://gist.github.com/toomuchcookies/181501d4fbaf818a3f341afaa681736b

I will try to build for galactic and see if the main issue is already solved.

[2021-06-30 13:16] toomuchcookies commented on #199
oh, just realized these are "only" warnings.. will continue with foxy..

[2021-06-30 13:24] vatanaksoytezer commented on #199
We will spend some time to fix warnings after the new Galactic / Rolling release today, but you can safely ignore them for now.

I am going to close this issue since the problem should not occur right now. Please open a new issue if you face any difficulties and thanks again for reporting!

[2021-06-30 13:24] #199 closed, assigned to JafarAbdi

[2021-10-28 15:05] jlack1987 commented on #166
Yeah I have the same issue. The reason is [here](https://github.com/ament/ament_cmake/issues/199). This package depends on a Boost component(`filesystem`) but `ament_export_dependencies` doesn't export the components. The trick is to add a cmake extras thing and append the target to the libraries there. I'll see if I can MR a fix.

[2021-11-01 13:44] JafarAbdi commented on #166
Should be fixed with https://github.com/ros-planning/geometric_shapes/pull/205

[2021-11-01 13:44] #166 closed, assigned to nobody

[2021-11-01 15:11] henningkayser opened #207 "CI build jobs not running on Foxy"
Looks like the build jobs haven't been triggered on the `foxy` branch since https://github.com/ros-planning/geometric_shapes/commit/b4df18c8203a1845fee64bd4b7736304c825104d. At least GitHub doesn't show the build results any more, and I can't find the job runs in the "Actions" panel.

[2021-11-01 16:47] vatanaksoytezer commented on #207
Closed by #208.

[2021-11-01 16:47] #207 closed, assigned to vatanaksoytezer

[2022-03-01 13:08] vatanaksoytezer opened #216 "New Release for Rolling / Jammy"
geometric_shapes has been failing in buildfarm since the transition into Jammy. #215 fixes it and after that gets merged we need a new release.

[2022-04-06 14:14] DLu commented on #216
@henningkayser It looks like this was merged and you created a new release but did not bloom it. Any reason not to at this point?

[2022-04-06 14:16] JafarAbdi commented on #216
I'm blooming it now

[2022-04-06 14:32] JafarAbdi commented on #216
See https://github.com/ros/rosdistro/pull/32678

[2022-04-06 14:32] #216 closed, assigned to henningkayser

[2022-05-01 21:27] AndyZe opened #220 "bodies.cpp: Variable may be used uninitialized"
I just noticed this warning while building (`ros2` branch):

[code]

[2022-05-25 11:12] AltinayGrass opened #222 "colcon build error ros2 humble"
Hello all,

There is a source build error on this package like below;

--- stderr: geometric_shapes
CMake Error at CMakeLists.txt:44 (find_package):
  By not providing "Findeigen_stl_containers.cmake" in CMAKE_MODULE_PATH this
  project has asked CMake to find a package configuration file provided by
  "eigen_stl_containers", but CMake did not find one.

  Could not find a package configuration fi

[2022-05-25 11:28] vatanaksoytezer commented on #222
Hello @AltinayGrass thank you for reporting an issue. Any chance you missed the rosdep step as in: rosdep install -r --from-paths . --ignore-src --rosdistro $ROS_DISTRO -y?

[2022-05-25 12:02] AltinayGrass commented on #222
Merhaba @vatanaksoytezer,
No I am sure we did not miss. But we tried again and the output is:

~/ws_moveit2$ rosdep install -r --from-paths . --ignore-src --rosdistro $ROS_DISTRO -y
#All required rosdeps installed successfully

[2022-05-25 13:00] vatanaksoytezer commented on #222
Assuming you are sourcing humble correctly, `source /opt/ros/humble/setup.bash`. Can you try installing eigen-stl-containers via `sudo apt-get install ros-humble-eigen-stl-containers`?

[2022-05-25 13:10] AltinayGrass commented on #222
we built from source so that our sourcing `source ~/ros2_humble/install/local_setup.bash`

ros-humble-eigen3-cmake and ros-humble-eigen-stl... packages are already installed.

[2022-05-25 13:29] AltinayGrass commented on #222
after using `COLCON_IGNORE` for geometry_shapes folder. We received below error also:

--- stderr: moveit_core
CMake Error at CMakeLists.txt:24 (find_package):
  By not providing "Findangles.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "angles", but
  CMake did not find one.

  Could not find a package configuration file provided by "a

[2022-05-25 14:13] AltinayGrass commented on #222
One last word;

We have 0 size file at `/home/as/ros2_humble/install/eigen3_cmake_module/share/colcon-core/packages`  `eigen3_cmake_module`

we build a single package with following command.

`colcon build --packages-select eigen3_cmake_module --allow-overriding  eigen3_cmake_module `

Output:

Starting >>> eigen3_cmake_module
Finished <<< eigen3_cmake_module [0.33s]

Summary: 1 package finished [

[2022-05-26 14:22] JafarAbdi commented on #222
What's the value for the following env-variables before you source your workspace? Please ensure they don't reference any other workspace in your system.

`CMAKE_PREFIX_PATH AMENT_PREFIX_PATH AMENT_CURRENT_PREFIX COLCON_PREFIX_PATH`

[2022-05-26 20:51] AltinayGrass commented on #222
all off them are Null.

Only `AMENT_PREFIX_PATH=/opt/ros/humble`  has value after sourcing.

I tried to install ros2 humble from binary also. Demo_nodes are working fine.

But we are getting some minor warnings like below while in building process ; after a while terminal window is closing itself so I can't see final errors.

[code]

[2022-08-24 21:13] peci1 commented on #89
This is now implemented for Noetic (both axis-aligned and oriented bounding boxes), and hopefully getting into Melodic soon.

[2022-08-24 21:13] #89 closed, assigned to nobody

[2022-11-10 19:40] quarkytale opened #226 "Could not load resource mesh rendering error"
Hi, need some help figuring out the cause of this issue. I have my moveit installation from source in Humble and Ubuntu 22.04. Trying to use the setup_assistant for planning assets of an arm.
[code]

[2022-11-10 21:44] rhaschke commented on #226
I think the error message is very clear about the issue:
Unable to open file "/home/user/demos_ws/src/simulation/models/canadarm/meshes/joint_v3_0.dae

Does that file exist? Is it readable for you?

[2022-11-10 21:50] quarkytale commented on #226
Yes I tried viewing it directly using `g3dviewer`, here's how it looks.
![3dview_jointv3](https://user-images.githubusercontent.com/24695820/201213084-abf9d7cf-6338-4560-9199-252ba4b0a007.png)

`assimp info <path to file>` gives:
[code]

[2022-11-11 07:22] rhaschke commented on #226
Are you sure, there is no typo in the name? Did you use the exact same name as in the error message for checking?
Beyond that, I don't have any more ideas.